body{
    background-color: #0ae2ea;
    text-align: center;
    font-family: Verdana;
}
form{
    background-color:azure;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    max-width: 500px;
    padding: 30px 20px;
}
.form-control{
    text-align: left;
    margin-bottom:25px ;
}
.form-control label{
    display: block;
    margin-bottom: 10px;
}
.form-control input{
    border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
}
.form-control select{
    border: 1px solid grey;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}
.form-control textarea{
    width: 100%;
    
}
.form-control input[type="radio"],
.form-control input[type="checkbox"]{
    display: inline-block;
    width: auto;
}